.concept-table {
  width: 100%;
  break-inside: avoid;
  display: inline-block;
  margin: 12px 0;
  .question {
    width: 33%;
    text-align: right;
    display: inline-block;
    vertical-align: top;
    .required {
      padding-left: 3px;
      font-size: 15px;
    }
    p {
      font-size: 12px;
      padding-right: 12px;
      display: inline-block;
      margin: 0;
    }
  }

  .answer { 
    width: 67%;
    display: inline-block;
    .add-more {
      font-size: 14px;
      padding: 10px 0 0 10px;
      margin: 2.5% 0 0;
      border: none;
      color: #000;
    }
  }
}

.notes-table {
  width: 100%;
  break-inside: avoid;
  display: flex;
  .notes-label {
    width: 36.5%;
    text-align: right;
    p {
      font-size: 11px;
      padding-right: 12px;
      margin: 6px 0;
    }
  }
  .notes-line {
    width: 63.5%;
    .horizontalLine {
      border: 0;
      outline: 0;
      background: transparent;
      border-bottom: 1px solid black;
      padding: 0;
      width: 98%;
    }
  }
}

.tabular-concept .container .container-element .concept {
  margin-right: 10px !important;
}

.tabular-concept .container .container-element .notes-label {
  width: 44%;
}
.tabular-concept .container .container-element .notes-line {
  width: 56%;
}
