<div class="concept-table">
  <div class="question">
      <p *ngIf="!member.units">{{member.name}}</p>
      <p *ngIf="member.units">{{member.name}}&nbsp;({{member.units}})</p>
      <p class="date-format" *ngIf="member.datatype ==='Date'">&nbsp;(DD/MM/YYYY)</p>
      <p class="required" *ngIf="member.config && member.config.required">*</p>
  </div>
  <div class="answer">
      <div [ngSwitch]="member.datatype">
          <app-text-box *ngSwitchCase="'Text'" [member]="member"></app-text-box>
          <app-text-box *ngSwitchCase="'Numeric'" [member]="member"></app-text-box>
          <app-text-box *ngSwitchCase="'Date'" [member]="member"></app-text-box>
          <app-text-box *ngSwitchCase="'Datetime'" [member]="member"></app-text-box>
          <app-text-box *ngSwitchCase="'Coded'" [member]="member"></app-text-box>
          <app-check-box *ngSwitchCase="'Boolean'"></app-check-box>
          <button class="add-more" *ngIf="member.config && member.config.allowAddMore" disabled>[+]</button>
        </div>
      </div>
    </div> 
<div class="notes-table" *ngIf="(member.config && !member.config.disableAddNotes)||!member.config">
    <div class="notes-label"><p>Notes&nbsp;</p></div>
    <div class="notes-line"><input class="horizontalLine"/></div>
</div>