.concept-condition-section {
  padding: 10px;
  border: 1px solid #000;
  margin: 10px 0 10px 10px ;
  border-radius: 5px;
  position: relative;
}

.condition {
  font-size: 12px;
  flex: 1;
  font-weight: bold;
}
