.concept-condition-section {
  padding: 10px 0px 30px 20px;
  border: 1px solid #000;
  margin: 5px 10px 10px 10px;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  width: 95%;
}

.condition {
  font-size: 12px;
  flex: 1;
  font-weight: bold;
}
